body{
    font-family: "Poppins" , sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.second-h1{
    color: yellow;
    font-weight: 700;
    text-align: center;
}
span{
    background-color: yellow;
    color: white;
}

section{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 100px;
}
.half-width{
    width: 50%;
}
.half-width img {
    width: 100%;
    
}
.button-link{
    font-weight: 700;
    color: white;
    border-radius: 10px;
    border: violet solid 2px;
    text-decoration: none;
    padding: 10px 20px ;
    background-image: linear-gradient(red, pink);
}
.top-banner{
    background-image: url(top.jpg);
    background-repeat: no-repeat;
}
.second-text{
    align-items: center;
    padding-left: 30px;
}
.dream-big{
    background-image: url(dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}